/* Inpage Nav List items (sub component) */
:host {
  margin-block-start: 0;
  display: list-item;
  line-height: 1.5;
  list-style: none;

  // Visited states require reset to default values
  a {
    &,
    &:link,
    &:visited {
      color: var(--qgds-color-link-default, #005eb8);
      text-decoration-color: var(--qgds-color-underline-default, #3f7ab4);
    }

    &:hover {
      text-decoration-color: var(--qgds-color-underline-default-hover, #003e96);
    }
  }
}
