/* 
==========================
Scoped CSS: qgds-image
==========================
*/

:host {
  --image-border-radius: inherit;
  --image-border-width: unset;
  --image-border-color: unset;
  --image-border-style: unset;
  --image-margin: unset;
  --figure-border: unset;
  --figure-padding: unset;
  --figure-border-radius: inherit;
}

figure {
  padding: var(--figure-padding);
  border: var(--figure-border);
  border-radius: var(--figure-border-radius);
  margin: 0;
  inline-size: min-content;

  &.is-vertical {
    inline-size: min-content;
  }
}

div {
  border-radius: var(--image-border-radius);
}

figure,
div {
  display: block;

  &.align-left {
    margin: 1rem;
    margin-inline-start: 0;
    float: inline-start;
  }

  &.align-right {
    margin: 1rem;
    margin-inline-end: 0;
    float: inline-end;
  }
}

figure img,
div img {
  display: block;
  aspect-ratio: var(--ratio-w, auto) / var(--ratio-h, auto);
  max-inline-size: 100%;
  object-fit: cover;
  border-radius: inherit;
  outline: var(--image-border-width) var(--image-border-style) var(--image-border-color);
  outline-offset: calc(var(--image-border-width) * -1);
  margin: var(--image-margin);
}

:host:has(figcaption) .image-wrap img {
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}

figcaption {
  font-size: 0.875rem;
  color: var(--qgds-color-text-default);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  background: var(--qgds-color-background-shade);
  border-radius: inherit;
  border-start-start-radius: 0;
  border-start-end-radius: 0;
  text-align: start;
  inline-size: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

  a {
    color: var(--qgds-color-link-default);
    text-decoration: var(--text-decoration, none);
    text-decoration-thickness: var(--text-decoration-thickness, 1px);
    text-underline-offset: var(--text-underline-offset, auto);
    transition: text-decoration-thickness 0.2s ease-in-out;

    &:hover {
      text-decoration-thickness: var(--text-decoration-thickness-hover, 2px);
      transition: text-decoration-thickness 0.2s ease-in-out;
    }
  }
}
