// Stub file only. To be replaced with offical QGDS tokens when available
$space-none: 0px;
$space-025: 2px;
$space-050: 4px;
$space-075: 6px;
$space-100: 8px;
$space-150: 12px;
$space-200: 16px;
$space-250: 20px;
$space-300: 24px;
$space-400: 32px;
$space-500: 40px;
$space-600: 48px;
$space-700: 56px;
$space-800: 64px;
$space-1000: 80px;
$space-1200: 96px;
$space-1600: 128px;
$space-2000: 160px;