@use "../../styles/qgds-tokens/qgds-color-stub";
@use "../../styles/tools/mixins" as m;
@use "../../styles/tools/functions" as f;

:host {
  --qgds-icon-color: var(--qgds-color-action-secondary, #307edb);
}

.qgds-tile-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding-inline: 1rem;
  padding-block: 0.625rem;
  color: var(--qgds-color-link-default);
  font-size: f.remify(14px);
  line-height: f.snap-line-height(1);
  transition-property: background-color, outline;
  transition-duration: var(--qgds-transition-time);
  transition-timing-function: ease-out;

  &:hover {
    --qgds-icon-color: var(--qgds-color-action-secondary-hover, #307edb);

    background-color: var(--qgds-color-background-shade, #003e96);
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  @include m.focusable(false);
}