@use "../../styles/qgds-tokens/qgds-color-stub";
@use "../../styles/tools/mixins" as m;
@use "../../styles/tools/functions" as f;
@use "../../styles/qgds-tokens/qgds-breakpoint";

:host {
  --qgds-icon-color: var(--qgds-color-action-secondary, #307edb);
  --height: initial;
}

.qgds-tile-button {
  --qgds-icon-size: var(--qgds-icon-size-sm, 1.25rem);
  --_size: var(--height, #{f.remify(48px)});

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  place-content: center center;
  gap: 0.25rem;
  block-size: var(--_size);
  min-inline-size: var(--_size);
  color: var(--qgds-color-link-default);
  font-size: f.remify(10px);
  line-height: f.snap-line-height(1);
  transition-property: background-color, outline;
  transition-duration: var(--qgds-transition-duration);
  transition-timing-function: ease-out;

  &:hover {
    --qgds-icon-color: var(--qgds-color-action-secondary-hover, #307edb);

    background-color: var(--qgds-color-background-shade, #003e96);
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  @include m.focusable($offset-outline: -3px);

  @media (min-width: qgds-breakpoint.$md) {
    --qgds-icon-size: var(--qgds-icon-size-lg, 2rem);
    --_size: var(--height, #{f.remify(72px)});

    font-size: f.remify(14px);
  }
}
