$accent-design-accent: #84d3ff;
$action-primary-hover: #a6f7ff;
$action-primary: #84d3ff;
$action-secondary-hover: #a6f7ff;
$action-secondary: #84d3ff;
$background: #005eb8;
$border: #418fed;
$crest-fill: #ffffff;
$focus-default: #c6ffff;
$link-default: #ffffff;
$link-on-action: #001c37;
$link-visited: #F2CDFF;
$site-title: #ffffff;
$text-default: #ffffff;
$text-heading: #ffffff;
$text-lighter: #deebf9;
$underline-default-hover: #ffffff;
$underline-default: #b5cce2;
$underline-visited-hover: #F2CDFF;
$underline-visited: #C6AED9;