$accent-design-accent: #84d3ff;
$action-primary-hover: #003e96;
$action-primary: #005eb8;
$action-secondary-hover: #004ea7;
$action-secondary: #307edb;
$background: #fff;
$border: #ebebeb;
$crest-fill: #005eb8;
$focus-default: #002e85;
$link-default: #005eb8;
$link-on-action: #fff;
$link-visited: #551a8b;
$site-title: #005eb8;
$text-default: #353535;
$text-heading: #000053;
$text-lighter: #636363;
$underline-default-hover: #005eb8;
$underline-default: #3f7ab4;
$underline-visited-hover: #551a8b;
$underline-visited: #8b63b0;