$other-gov-maroon: #771e32 ;
$other-modern-maroon: #a70240 ;
$primary-dark-blue: #05325f ;
$primary-light-blue: #0085b3 ;
$primary-light-green: #6bbe27 ;
$primary-sapphire-blue: #09549f ;
$secondary-darkgreen: #008635 ;
$secondary-golden-yellow: #ffe500 ;
$code-green: #6bbe27 ;
$code-light-blue: #a7e5ff ;
$code-muted: #c0d7ec ;
$code-violet: #c88df7 ;
$neutral-black: #131212 ;
$neutral-dark: #78797e ;
$neutral-darker: #444444 ;
$neutral-darkest: #222020 ;
$neutral-light: #e0e0e0 ;
$neutral-lighter: #ebebeb ;
$neutral-lightest: #f5f5f5 ;
$neutral-white: #ffffff ;
$status-caution-darker: #b38800 ;
$status-caution-default: #ffcc2c ;
$status-caution-lighter: #fff2c9 ;
$status-caution-lightest: #fffaea ;
$status-error-darker: #8a1220 ;
$status-error-default: #e22339 ;
$status-error-lighter: #fdf0f0 ;
$status-error-lightest: #fff6f6 ;
$status-info-darker: #006a8f ;
$status-info-default: #0085b3 ;
$status-info-lighter: #e5eef5 ;
$status-info-lightest: #eff4f9 ;
$status-success-darker: #0a690d ;
$status-success-default: #339d37 ;
$status-success-lighter: #f2faf4 ;
$status-success-lightest: #f7fbf8 ;
$status-underline-dark: #03213fb8 ;
$status-underline-light: #ffffffb8 ;