node
node_modules
.env
.DS_Store
storybook-static/
build-storybook.log
docs/
dist/
.idea
*.iml
docs/storybook-static
prettier.json
/debug-storybook.log
*storybook.log
custom-elements.json

# Chromatic
chromatic-diagnostics.json
