// Stub file only.
:root {
  --qgds-elevation-1: 0 1px 2px 0 rgb(0 0 0 / 0.2), 0 1px 3px 1px rgb(0 0 0 / 0.1);
  --qgds-elevation-2: 0 1px 2px 0 rgb(0 0 0 / 0.3), 0 2px 6px 2px rgb(0 0 0 / 0.15);
  --qgds-elevation-3: 0 4px 8px 3px rgb(0 0 0 / 0.1), 0 1px 3px rgb(0 0 0 / 0.2);
  --qgds-elevation-4: 7px 6px 13px 0 rgb(0 0 0 / 0.02), 0 2px 5px 0 rgb(0 0 0 / 0.1), 0 13px 20px 0 rgb(0 0 0 / 0.1);
}
