@use "sass:map";
@use "qgds-breakpoint" as bp;
@use "../../styles/tools/functions" as f;

// QGDS uses "lobotomised owl * + *" technique for vspaceical spacing
// Most tokens here will target the block-start (vspace) property of an element.
// We also provide a few tokens for block-end (be) spacing on container, for future use.

$responsive-tokens: (
  default: (
    // Structural layout flow
    vspace-section-margin: 40px,
    vspace-section-padding: 40px,
    vspace-component: 24px,

    // Horizontal/inline padding for .qgds-content blocks
    hspace-content-inner: 0,

    // Typography hierarchy flow
    vspace-h1: 32px,
    vspace-h2: 32px,
    vspace-h3: 24px,
    vspace-h4: 20px,
    vspace-heading-text: 16px,
  ),
  large: (
    vspace-section-margin: 64px,
    vspace-section-padding: 64px,
    vspace-component: 32px,
    hspace-content-inner: 32px,

    vspace-h1: 56px,
    vspace-h2: 48px,
    vspace-h3: 36px,
    vspace-h4: 32px,
    vspace-heading-text: 24px,
  ),
);
$static-tokens: (
  vspace-paragraph: 16px,
  vspace-list: 16px,
  vspace-list-item: 8px,
  vspace-list-item-wide: 12px,
  vspace-label: 8px,
  vspace-form-hint: 8px,
);

:root {
  @each $name, $value in $static-tokens {
    --qgds-#{$name}: #{f.remify($value)};
  }

  @each $name, $value in map.get($responsive-tokens, default) {
    --qgds-#{$name}: #{f.remify($value)};
  }

  @media (min-width: bp.$lg) {
    @each $name, $value in map.get($responsive-tokens, large) {
      --qgds-#{$name}: #{f.remify($value)};
    }
  }
}
