// Font Size
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$font-size-xxl: 40px;
$font-size-xxxl: 48px;

// Font Size mobile
$font-size-xl-mobile: 28px;
$font-size-xxl-mobile: 32px;

// Font Weight
$font-weight-default: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 900;

// Line heights
$line-height-default: 1.5;
$line-height-heading: 1.25;
$line-height-none: 1;
