<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>QGDS Web Components | Template Examples</title>

  <!-- CDN Hosted resources serve @latest tagged NPM package. Switch @latest to @alpha, or @vX.X.X for a specific version -->
  <!-- 
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@qld-gov-au/qgds-web-components@latest/dist/assets/css/qgds-web-components.min.css">

  <script
    src="https://cdn.jsdelivr.net/npm/@qld-gov-au/qgds-web-components@latest/dist/assets/js/qgds-web-components.min.js"
    type="module"></script> 
  -->

  <link href="../../assets/css/qgds-web-components.css" rel="stylesheet" />
  <link href="../../assets/css/qgds-grid.css" rel="stylesheet" />
  <script src="../../assets/js/qgds-web-components.js" type="module"></script>

</head>

<style>
  /* 
    Light DOM structural CSS for layout and spacing of components in this template example. 
    This is not part of the component library and should be adapted or removed as needed for your project.  
    */
</style>

</head>

<body class="qgds qgds-palette-default">

  <div class="qgds-container-full">
    <!-- Attribution bar example  (not built yet) -->
    <header style="background-color: #bdbdbd; padding: 1rem; height: 120px;"></header>

    <div class="qgds-container">
      <!-- <qgds-header></qgds-geader> -->
      <!-- <qgds-main-nav></qgds-main-nav> -->
    </div>
  </div>

  <!-- Breadcrumbs example -->
  <div class="qgds-container-fluid qgds-palette-soft">
    <div class="qgds-container">
      <qgds-breadcrumbs aria-label="Breadcrumbs with default items" class="qgds-m-24">
        <qgds-breadcrumbs-item target="_self" rel="bookmark" url="/home">Home</qgds-breadcrumbs-item>
        <qgds-breadcrumbs-item target="_self" rel="bookmark" url="/level2">Level 2</qgds-breadcrumbs-item>
        <qgds-breadcrumbs-item target="_self" rel="bookmark" url="/level3">Level 3</qgds-breadcrumbs-item>
        <qgds-breadcrumbs-item target="_self" rel="bookmark" url="/level4">Level 4</qgds-breadcrumbs-item>
        <qgds-breadcrumbs-item target="_self" rel="bookmark" url="/current_page">Current
          page</qgds-breadcrumbs-item>
      </qgds-breadcrumbs>
    </div>
  </div>

  <!-- Main Content group -->
  <div class="qgds-container-fluid">

    <div class="qgds-container">
      <div class="qgds-row">
        <aside class="qgds-col-12 qgds-col-lg-3 qgds-content-block px-0">
          <qgds-side-navigation mobile-heading="In this section">
            <qgds-side-navigation-item href="#" label="Here is the heading" slot="heading"></qgds-side-navigation-item>
            <qgds-side-navigation-item href="#" label="Level 1 first"></qgds-side-navigation-item>
            <qgds-side-navigation-item href="#" label="Level 1 second">
              <qgds-side-navigation-item href="#" label="Level 2 first"></qgds-side-navigation-item>
              <qgds-side-navigation-item href="#"
                label="Getting a learner motorcycle licence (RE)"></qgds-side-navigation-item>
              <qgds-side-navigation-item label="Level 2 third, no link"></qgds-side-navigation-item>
            </qgds-side-navigation-item>
            <qgds-side-navigation-item label="Level 1 third, non link"></qgds-side-navigation-item>
          </qgds-side-navigation>
        </aside>

        <main class="qgds-col-12 qgds-col-lg-8">

          <div class="qgds-content-block">

            <qgds-inpage-nav heading="On this page" heading-level="h2" aria-label="In page navigation">
              <qgds-inpage-nav-item href="#section-1">Introduction</qgds-inpage-nav-item>
              <qgds-inpage-nav-item href="#section-2">Overview</qgds-inpage-nav-item>
              <qgds-inpage-nav-item href="#section-3">Getting started</qgds-inpage-nav-item>
              <qgds-inpage-nav-item href="#section-3">Section 4</qgds-inpage-nav-item>
              <qgds-inpage-nav-item href="#section-3">Section 5</qgds-inpage-nav-item>

            </qgds-inpage-nav>

            <h2 id="section-1">Section heading 2</h2>

            <p class="qgds-abstract">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque enim labore
              reprehenderit sequi.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita perferendis eum ducimus harum quaerat
              quasi est odit tempore commodi provident autem itaque quam officia exercitationem, at enim maxime ab
              numquam.</p>

            <div class="qgds-flex qgds-gap-x-16">
              <qgds-button variant="primary" href="#" label="Action"></qgds-button>
              <qgds-button variant="secondary" href="#" label="Action"></qgds-button>
            </div>

            <h3>Heading 3</h3>

            <qgds-image alt="Placeholder image"
              caption="Image caption providing additional context and information about the image content."
              src="https://picsum.photos/seed/qgds-watch/600/400"></qgds-image>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque enim labore reprehenderit sequi.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque enim labore reprehenderit sequi.</p>

            <p>Libero feugiat eu pulvinar ac faucibus elementum sed. Ut nibh in vitae egestas. Massa tellus diam duis
              cursus et sed
              elit. Pulvinar et nulla dolor viverra porttitor massa sed tellus. Interdum augue tempus purus scelerisque
              tincidunt
              duis. Vulputate a, nulla nunc orci, sed vulputate eget amet. Accumsan convallis ornare sed consectetur
              suspendisse.</p>

            <h4>Heading 4</h4>
            <p>Libero feugiat eu pulvinar ac faucibus elementum sed. Ut nibh in vitae egestas. Massa tellus diam duis
              cursus et sed
              elit. Pulvinar et nulla dolor viverra porttitor massa sed tellus. Interdum augue tempus purus scelerisque
              tincidunt
              duis. Vulputate a, nulla nunc orci, sed vulputate eget amet. Accumsan convallis ornare sed consectetur
              suspendisse.</p>

            <h2>Heading 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quod est provident ipsum dicta
              inventore</p>

            <h3>Heading 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quod est provident ipsum dicta
              inventore, magni
              sint commodi possimus optio impedit porro quisquam atque</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quod est provident ipsum dicta
              inventore, magni
              sint commodi possimus optio impedit porro quisquam atque magni
              sint commodi possimus optio impedit porro quisquam atque</p>

            <h4>Heading 4</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente ducimus molestias veritatis cupiditate
              unde esse dicta vero reprehenderit laboriosam ratione sint laudantium</p>

          </div>

          <div class="qgds-content-block qgds-palette-bold">
            <h2>Another content block</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quod est provident ipsum dicta
              inventore, magni
              sint commodi possimus optio impedit porro quisquam atque</p>
          </div>

          <div class="qgds-content-block qgds-palette-deep">
            <h2>Another content block</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quod est provident ipsum dicta
              inventore, magni
              sint commodi possimus optio impedit porro quisquam atque</p>
          </div>

        </main>
      </div>

      <div class="qgds-flex qgds-justify-content-between" style="padding: 1rem;">
        <span>Last updated: Yesterday</span>
        <qgds-direction-link href="#top" direction="up" label="Back to top"></qgds-direction-link>
      </div>

    </div>

  </div>

  <!-- Footer example -->
  <div class="qgds-container-fluid qgds-palette-deep">
    <div class="qgds-container">
      <footer style="height: 240px;">Footer</footer>
      <!-- <qgds-footer></qgds-footer> -->
    </div>
  </div>


</body>

</html>