@use "../../styles/tools/mixins" as m;

:host {
  --btn-border-colour: var(--qgds-color-action-secondary, transparent);
  --btn-text: var(--qgds-color-link-on-action, #0059ff);

  // Overridable defaults
  display: inline-block;
  font-size: 1rem;
}

:host [disabled] {
  cursor: not-allowed;
}

.btn {
  --text: var(--btn-text);
  --border-width: 0;
  --min-width: 160px;

  // Stubs to be replaced when token files are created
  --qgds-gap-inline: 0.5rem;

  @include m.border-padding(0, 0.75rem 1.5rem);

  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: transparent;
  color: var(--text, white);
  gap: var(--qgds-gap-inline, 0.5rem);
  border-radius: var(--qgds-border-radius);
  text-decoration: none;
  text-decoration-color: transparent;
  text-underline-offset: var(--qgds-link-underline-offset, 0.3em);
  text-decoration-thickness: 0;
  text-align: center;
  transition:
    background-color var(--qgds-transition-duration, 200ms) var(--qgds-transition-easing, ease-out),
    text-decoration-thickness var(--qgds-transition-duration, 200ms) var(--qgds-transition-easing, ease-out);
  min-inline-size: var(--min-width);

  &:not(.has-icon) {
    gap: 0;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  &:active {
    --text: var(--qgds-color-link-on-action-active, #000053);

    text-decoration: none;
    background-color: var(--qgds-color-neutral-lightest, #f5f5f5);
  }

  @include m.focusable() {
    text-decoration: underline;
  }

  &:disabled,
  &.disabled {
    --text: var(--qgds-color-text-lighter, #666);

    cursor: not-allowed;
    background: var(--qgds-color-disabled, #ccc);
    text-decoration: none;
    box-shadow: none;
    outline: none;
  }
}

:host([trailing-icon]) .btn {
  flex-direction: row-reverse;
}

.loading {
  text-decoration: none;
  background: var(--qgds-color-code-muted, #ccc);

  &:hover {
    cursor: wait;
  }
}

.btn-primary {
  background: var(--qgds-color-action-primary, #454545);
  box-shadow: var(--qgds-elevation-3);
  text-decoration-color: inherit;
  border-color: var(--qgds-color-action-primary, #454545);

  &:hover {
    --qgds-color-action-primary: var(--qgds-color-action-primary-hover);

    box-shadow: var(--qgds-elevation-4);
  }

  &:active {
    box-shadow: var(--qgds-elevation-1);
  }

  &:focus {
    --qgds-color-action-primary: var(--qgds-color-action-primary-hover);

    box-shadow: var(--qgds-elevation-1);
  }

  &:disabled,
  &.disabled {
    box-shadow: none;
  }
}

.btn-secondary {
  --border-top-width: var(--border-width-wide, 3px);
  --border-right-width: var(--border-width-wide, 3px);
  --border-bottom-width: var(--border-width-wide, 3px);
  --border-left-width: var(--border-width-wide, 3px);
  --text: var(--qgds-color-link-default, #333);
  --qgds-icon-color: var(--qgds-color-action-secondary);

  background: transparent;
  border-color: var(--btn-border-colour);

  &:active {
    --qgds-icon-color: var(--qgds-color-text-heading, #005eb8);

    border-color: transparent;
  }

  &:hover {
    --btn-border-colour: var(--qgds-color-action-secondary-hover, #333);
    --qgds-icon-color: var(--qgds-color-action-secondary-hover, #004ea7);

    background: var(--no-colour);
  }

  &:focus {
    --qgds-icon-color: var(--qgds-color-action-secondary-hover, #004ea7);

    border-color: var(--qgds-color-action-secondary-hover, #004ea7);
    background: var(--no-colour);
  }

  &:disabled,
  &.disabled {
    --btn-border-colour: var(--qgds-color-disabled, #ccc);
    --qgds-icon-color: var(--qgds-color-text-lighter, #636363);

    background-color: transparent;
    border-color: var(--btn-border-colour);
  }
}

.btn-tertiary {
  --text: var(--qgds-color-link-default, #333);
  --qgds-icon-color: var(--qgds-color-action-secondary);

  text-decoration: underline;
  background: transparent;

  &:active {
    --qgds-icon-color: var(--qgds-color-text-heading, #005eb8);
  }

  &:hover,
  &:focus {
    --qgds-icon-color: var(--qgds-color-action-secondary-hover, #004ea7);

    background-color: var(--qgds-color-background-shade, #f5f5f5);
  }

  &:disabled,
  &.disabled {
    --qgds-icon-color: var(--qgds-color-text-lighter, #636363);

    background: transparent;
  }
}

// Hide all slotted elements by default
::slotted(*) {
  display: none;
}

// Only show qgds-icon elements in the icon slot
::slotted(qgds-icon) {
  display: block;
}

qgds-icon[icon-id="spinner-step-1"] {
  animation: qgds-spin 1s linear infinite;
}
