@use "../../scss/base/animations";

@include animations.css();

:host {
  --btn-border-colour: var(--qgds-color-action-secondary, transparent);
  --btn-text: var(--qgds-color-link-on-action, #0059ff);
  --btn-text-decoration-color: var(--qgds-color-underline-default, inherit);
}

.btn {
  --no-colour: transparent;
  --text: var(--btn-text);
  --border-width: 0;
  --min-width: 160px;

  /* Stubs to be replaced when token files are created */
  --qgds-outline-width: 3px;
  --qgds-outline-offset: 2px;
  --qgds-gap-inline: 0.5rem;
  --qgds-block-padding: 0.75rem;
  --qgds-inline-padding: 1.5rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-width: var(--border-width);
  border-style: solid;
  border-color: transparent;
  color: var(--text, white);
  gap: var(--qgds-gap-inline, 0.5rem);
  padding-block: var(--qgds-block-padding, 0.75rem);
  padding-inline: var(--qgds-inline-padding, 1.5rem);
  border-radius: var(--border-radius);
  font-size: var(--qgds-font-size, 1rem);
  text-decoration: underline;
  text-decoration-color: var(--btn-text-decoration-color);
  text-underline-offset: var(--text-underline-offset, 4.8px);
  text-decoration-thickness: var(--text-decoration-thickness, 0.5px);
  transition: text-decoration-thickness var(--qgds-transition-duration, 0.3s) ease-in-out;
  min-inline-size: var(--min-width);
}

.btn:not(.has-icon) {
  gap: 0;
}

.btn:hover {
  text-decoration-thickness: var(--text-decoration-thickness-hover, 2px);
  transition: text-decoration-thickness var(--qgds-transition-duration, 0.3s) ease-in-out;
}

.btn:active {
  --btn-background: var(--btn-background-active);
  --text: var(--btn-background-active-text);
}

.btn:focus {
  outline: var(--qgds-outline-width) solid var(--qgds-color-focus-default);
  outline-offset: var(--qgds-outline-offset);
  border-radius: var(--border-radius);
}

:host([trailing-icon]) .btn {
  flex-direction: row-reverse;
}

/* Start */
.loading {
  text-decoration: none;
  background: var(--qgds-color-code-muted, #ccc);
}

.loading:hover {
  cursor: wait;
}

.btn-primary {
  background: var(--qgds-color-action-primary, #454545);
  box-shadow: var(--qgds-elevation-3);
  text-decoration-color: inherit;
  border-color: var(--qgds-color-action-primary, #454545);
}

.btn-primary:hover {
  --qgds-color-action-primary: var(--qgds-color-action-primary-hover);

  box-shadow: var(--qgds-elevation-4);
}

.btn-secondary {
  --border-width: var(--border-width-wide, 3px);
  --text: var(--qgds-color-link-default, #333);
  --qgds-block-padding: 0.5625rem;

  background: var(--no-colour) !important;
  border-color: var(--btn-border-colour);
}

button.btn-secondary:disabled,
.btn-secondary.disabled {
  --btn-border-colour: var(--qgds-color-neutral-light, #ccc);
}

.btn-secondary:hover {
  --btn-border-colour: var(--qgds-color-action-secondary-hover, #333);
}

.btn-tertiary {
  --text: var(--qgds-color-link-default, #333);

  background: var(--no-colour);
}

button.btn-tertiary:disabled,
.btn-tertiary.disabled {
  background: var(--no-colour);
}

.btn-tertiary:hover {
  background: var(--qgds-color-border, #ebebeb);
}

button:disabled,
.disabled {
  --text: var(--qgds-color-text-lighter, #666);

  background: var(--qgds-color-neutral-light, #ccc);
  text-decoration: none;
  pointer-events: none;
  cursor: not-allowed;
}

/* Hide all slotted elements by default */
::slotted(*) {
  display: none;
}

/* Only show qgds-icon elements in the icon slot */
::slotted(qgds-icon) {
  display: block;
}

qgds-icon[iconid="spinner-step-1"] {
  --qgds-icon-svg: var(--qgds-icon-spinner-step-1);

  animation: spin 1s linear infinite;
}

qgds-icon[size="sm"] {
  --qgds-icon-size: 1.25rem;
}

qgds-icon[size="md"] {
  --qgds-icon-size: 1.5rem;
}

qgds-icon[size="lg"] {
  --qgds-icon-size: 2rem;
}

qgds-icon[size="xl"] {
  --qgds-icon-size: 2.5rem;
}