@use "../../styles/tools/mixins/focusable.scss" as m;
@use "../../styles/qgds-tokens/qgds-breakpoint";
@use "../../styles/qgds-tokens/qgds-color-stub";

:host {
  --bg: var(--qgds-color-neutral-lightest, #f5f5f5);
  --bg-breadcrumb-vertical-hover: var(--qgds-color-neutral-lighter, #ebebeb);
  --fg: var(--qgds-color-site-title, #005eb8);
  --fg-underline: var(--qgds-color-underline-default, #3f7ab4);
  --fg-active: var(--qgds-color-text-lighter, #636363);
  --fg-icon: var(--qgds-color-action-secondary, #307edb);
  --fg-underline-hover: var(--qgds-color-underline-default-hover, #003e96);
  --fg-underline-hover-thickness: var(--qgds-underline-hover-thickness, 2px);

  line-height: 2rem;
}

:host([is-last]) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  flex-shrink: 999999;
}

.breadcrumbs-item {
  &:has(a.dropdown-item) {
    @extend %qgds-color-palette-default;
  }

  display: none;
  line-height: 2rem;
  white-space: nowrap;
  inline-size: 100%;
  @media (min-width: qgds-breakpoint.$lg) {
    display: inline-flex;
  }

  a {
    inline-size: 100%;
    display: block;
    line-height: 1.5rem;

    &,
    &:visited {
      color: var(--fg);
      text-decoration-color: var(--fg-underline);
    }

    &:hover {
      text-decoration-color: var(--fg-underline-hover);
      text-decoration-thickness: var(--fg-underline-hover-thickness);
    }
  }

  a.dropdown-item {
    // --fg-vertical-item-hover: var(--qgds-color-underline-default-hover, #005eb8);
    --fg-underline-hover: var(--qgds-color-underline-default-hover, #003e96);
    --qgds-link-decoration: none;
    --qgds-color-link-default: var(--qgds-color-text-default, #353535);

    // text-decoration: none;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    display: block;
    inline-size: 100%;

    // color: var(--qgds-color-text-default, #353535);
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any content that overflows the element's box */
    text-overflow: ellipsis;
    margin: 0;
    background-color: var(--bg);

    &:hover,
    &:focus {
      // text-decoration: underline;
      // text-decoration-color: var(--fg-underline-hover);
      // text-decoration-thickness: var(--qgds-link-decoration-thickness-hover, 2px);
      // color: var(--qgds-color-link-default, #005eb8 );
    }

    &:hover {
      background-color: var(--qgds-color-neutral-lighter, #ebebeb);
    }

    &:focus {
      outline-color: var(--qgds-color-focus-default, #002e85);
    }

    @include m.focusable($offset-outline: -6px);
  }
}

.breadcrumb-toggle-link {
  mask-image: var(--qgds-icon-chevron-down);
}

.breadcrumb-toggle {
  display: inline-flex;
  align-items: center;
}

:host(:nth-last-child(2)) {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;

  &:has(a:focus) {
    overflow: initial;
  }

  .breadcrumbs-item,
  & a {
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .breadcrumbs-item {
    overflow: hidden;
    font-size: 0.875rem;
    flex-direction: row-reverse;
    display: inline-flex;

    &:has(a:focus) {
      overflow: initial;
    }

    @media (min-width: qgds-breakpoint.$lg) {
      display: inline-flex;
      font-size: 1rem;
      flex-direction: row;
    }
  }

  .breadcrumbs-item a {
    overflow: hidden;
    @media (min-width: qgds-breakpoint.$lg) {
      overflow: clip;
    }

    a:focus {
      overflow: initial;
    }
  }
}

.base-icon {
  color: var(--fg-icon);
  margin-inline: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: qgds-breakpoint.$lg) {
  .active {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    flex-shrink: 999999;
    color: var(--fg-active);
  }
}
