@use "sass:meta";

@mixin css() {
  :root {
    --qgds-icon-size-xs: 1rem;
    --qgds-icon-size-sm: 1.25rem;
    --qgds-icon-size-md: 1.5rem;
    --qgds-icon-size-lg: 2rem;
    --qgds-icon-size-xl: 2.5rem;
    --qgds-icon-size-xxl: 3rem;
  }

  // equivalent to old "import" statement - because @using will output css directly instead controlling load order via mixin.
  @include meta.load-css("../icons/icons.variables");
}
