@use "sass:map";
@use "sass:meta";
@use "../tools/functions" as f;
@use "../qgds-tokens/qgds-breakpoint" as bp;
@use "config";
@forward "sr-only";

$prefix: "" !default;

@function _utility-class-name($prefix, $class-name, $modifier) {
  $name: null;

  @if $class-name == "" {
    @if $prefix == "" {
      $name: $modifier;
    } @else {
      $name: "#{$prefix}-#{$modifier}";
    }
  } @else {
    @if $prefix == "" {
      $name: "#{$class-name}-#{$modifier}";
    } @else {
      $name: "#{$prefix}-#{$class-name}-#{$modifier}";
    }
  }

  $name: f.string-replace($name, " ", "-");
  $name: f.string-replace($name, "/", "-");
  $name: f.string-replace($name, '"', "");
  $name: f.string-replace($name, "'", "");
  @return $name;
}

// output all utilities classes
@each $key, $config in config.$utils {
  $is-responsive: if(map.has-key($config, responsive), map.get($config, responsive), false);
  $property: if(map.has-key($config, property), map.get($config, property), $key);
  $class-name: if(map.has-key($config, class), map.get($config, class), $key);
  $values: map.get($config, values);

  @if $values == null {
    @warn "Utility config '#{$key}' is missing a required values list.";
  } @else {
    @each $modifier, $value in $values {
      $value: if($value == null, $modifier, $value);
      .#{_utility-class-name($prefix, $class-name, $modifier)} {
        #{$property}: $value;
      }

      @if $is-responsive {
        @each $breakpoint-key, $breakpoint-value in meta.module-variables("bp") {
          @media (min-width: $breakpoint-value) {
            .#{_utility-class-name($prefix, $class-name, "#{$breakpoint-key}-#{$modifier}")} {
              #{$property}: $value;
            }
          }
        }
      }
    }
  }
}
