@use "./qgds-tokens/qgds-breakpoint";
@use "./tools/mixins" as m;
@use "./tools/functions" as f;
@use "sass:meta";

$_grid-gutter-xs: f.remify(16px);
$_grid-gutter-md: f.remify(24px);
$_grid-gutter-lg: f.remify(32px);
$_grid-padding-xs: f.remify(16px);
$_grid-padding-md: f.remify(32px);
$_grid-padding-lg: f.remify(32px);

:root {
  --qgds-grid-padding: #{$_grid-padding-xs};

  @include m.md-up() {
    --qgds-grid-padding: #{$_grid-padding-md};
  }
  @include m.lg-up() {
    --qgds-grid-padding: #{$_grid-padding-lg};
  }
}

.qgds-container {
  --qgds-grid-padding: #{$_grid-padding-xs};

  margin-inline: auto;
  max-inline-size: calc(#{qgds-breakpoint.$xl} + calc(var(--qgds-grid-padding) * 2));
  padding-inline: var(--qgds-grid-padding);

  @include m.md-up() {
    --qgds-grid-padding: #{$_grid-padding-md};
  }

  @include m.lg-up() {
    --qgds-grid-padding: #{$_grid-padding-lg};
  }

  &.has-no-padding {
    --qgds-grid-padding: 0px; // keep unit to be campatible with calc()
  }
}

.qgds-cols {
  @include m.cols();
}

@for $i from 1 through 12 {
  .qgds-span-#{$i} {
    @include m.span($i);
  }
}
