@use "../tools/functions" as f;

.qgds-form-label {
  display: inline-block; // block triggers hover effect on white space.
  font-size: f.remify(16px);
  font-weight: 600;
  line-height: f.snap-line-height(1.45);
  margin-block-end: f.remify(8px);

  &-required {
    color: var(--qgds-color-status-error-default, #e22339);
  }

  &-optional {
    font-size: f.remify(14px);
    font-weight: 400;
    color: var(--qgds-color-text-lighter, #636363);
    line-height: 1; // corrects a visual bug.
  }
}
