@use "../tools/functions" as f;

.qgds-form-hint {
  color: var(--qgds-color-text-lighter, #636363);
  font-size: f.remify(14px);
  line-height: f.snap-line-height(1.45);
  margin-block-end: f.remify(8px);
}
