:host {
  --bg: initial;
  --fg: initial;
}

.qgds-feature-icon {
  --qgds-icon-size: 2rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--bg, var(--qgds-color-background-shade));
  color: var(--fg, var(--qgds-color-action-secondary));
  padding: 1rem; // default for "sm" size

  &.size-lg {
    --qgds-icon-size: 4rem;

    padding: 2rem;
  }
}
