// Most styles are applied via shared styles qgds-form-control class, shared styles
:host {
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --icon-size: 1.25rem;
}

.select-wrapper {
  --dropdown-fg: var(--qgds-color-action-secondary, #307edb);

  position: relative;
  display: block;

  &::after {
    content: "";
    position: absolute;
    inset-inline-end: var(--spacing-md);
    inset-block-start: 50%;
    transform: translateY(-50%);
    inline-size: var(--icon-size);
    block-size: var(--icon-size);
    mask-image: var(--qgds-icon-chevron-down);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: contain;
    pointer-events: none;
    background-color: var(--dropdown-fg);

    @media (forced-colors: active) {
      background-color: CanvasText;
    }
  }

  &:hover {
    --dropdown-fg: var(--qgds-color-action-secondary-hover, #307edb);
  }

  // The focus state should override the valid and invalid colors
  &:has(:focus) {
    // focus is always default palette, hard coded value here
    --dropdown-fg: #307edb;
  }

  &:has(.is-valid:where(:not(:focus))) {
    --dropdown-fg: var(--qgds-color-status-success-default, #339d37);
  }

  &:has(.is-invalid:where(:not(:focus))) {
    --dropdown-fg: var(--qgds-color-status-error-default, #e22339);
  }

  &:has(select:disabled) {
    --dropdown-fg: color(from var(--qgds-color-text-lighter) sRGB r g b / 0.5);
  }

  &:has(.is-multiple)::after {
    display: none;
  }
}

select {
  &.is-multiple {
    padding-inline-end: var(--spacing-md);
  }
}

/* Hide slotted custom elements in the light DOM */
::slotted(*) {
  display: none;
}
