@use "../../styles/qgds-tokens/qgds-breakpoint" as bp;
@use "../../styles/tools/functions" as f;
@use "../../styles/tools/mixins" as m;

:host {
  display: block;
  position: relative;
  z-index: 200;
}

.navigation {
  background-color: var(--qgds-color-background-shade, #f5f5f5);
  position: relative;

  &.is-horizontal {
    --nav-bar-height: 60px;
    --accent-width: #{f.remify(8px)};

    border-block-end: var(--accent-width) solid var(--qgds-color-accent-design-accent);
  }

  &.is-vertical {
    --accent-width: #{f.remify(4px)};

    // border-inline-start: 6px solid var(--qgds-color-accent-design-accent);

    @include m.md-up() {
      --accent-width: #{f.remify(6px)};
    }
  }

  &-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    .is-horizontal & {
      // pull the accent border underneath nav items.
      margin-block-end: calc(var(--accent-width) * -1);
      flex-wrap: wrap;
    }

    .is-vertical & {
      flex-direction: column;

      // border-block-start: 1px solid var(--qgds-color-border, #ebebeb);
      // margin-inline-start: calc(var(--accent-width) * -1);
    }
  }
}

// native dialog resets - .drawer class will apply actual styling
dialog {
  padding: 0;
  border: none;
  max-inline-size: none;
  max-block-size: none;
  inline-size: auto;
  block-size: auto;
}

.drawer {
  position: fixed;
  inset-block: 0;
  inset-inline: auto 0;
  inline-size: 100%;
  max-inline-size: f.remify(320px);
  background-color: var(--qgds-color-background-shade, #003e96);
  overflow-y: auto;
  box-shadow: var(--qgds-elevation-2);
  transform: translateX(100%);
  transition-property: transform overlay display;
  transition-duration: var(--qgds-transition-duration, 0.2s);
  transition-timing-function: (--qgds-transition-easing-inverse, ease-in); // ease in as the drawer closes
  transition-behavior: allow-discrete; // enable display and overlay to transition

  &::backdrop {
    opacity: 0;
    background-color: var(--qgds-overlay-bg, #001d74);
    transition-property: opacity overlay display;
    transition-duration: var(--qgds-transition-duration, 0.2s);
    transition-timing-function: (--qgds-transition-easing-inverse, ease-in);
    transition-behavior: allow-discrete;
  }

  // native <dialog> element uses [open] attr, is-open class is kept here just as fallback
  &.is-open,
  &[open] {
    // ease out as the drawer opens
    transition-timing-function: var(--qgds-transition-easing, ease-out);
    transform: translateX(0);

    &::backdrop {
      opacity: 0.95;
    }

    // starting style enables transitions from display: none
    @starting-style {
      transform: translateX(100%);

      &::backdrop {
        opacity: 0;
      }
    }
  }

  // drawer-header
  &-header {
    position: sticky;
    background-color: var(--qgds-color-background, #005eb8);
    inset-block-start: 0;
    padding-inline-start: f.remify(16px);
    block-size: f.remify(48px);
    z-index: 1;
  }

  @include m.md-up() {
    max-inline-size: f.remify(420px);

    &-header {
      block-size: f.remify(72px);
    }
  }
}
