@use "../../styles/tools/functions" as f;
@use "../../styles/tools/mixins" as m;
@use "../../styles/qgds-tokens/qgds-breakpoint" as bp;
@forward "../../styles/utilities/sr-only";

:host {
  display: inline-block;
  vertical-align: top;

  // unset isolation so that internal focus styles use z-index so not obscured by the top border removal hack.
  // This means the internal link is in the same stacking context as the .mega-menu-items::after element masking the top border, and z-index comes into play.
  isolation: unset;
}

.nav-item {
  --color-accent: var(--qgds-color-accent-design-accent, #84d3ff);
  --size-accent: #{f.remify(8px)};
  --height: #{f.remify(52px)}; // does not include the accent bar - unified horizontal and vertical value
  --qgds-icon-color: var(--qgds-color-action-secondary, #307edb);

  display: flex;
  gap: f.remify(8px);
  align-items: center;
  break-inside: auto;
  padding-inline: f.remify(8px);
  border-block-end: var(--size-accent) solid var(--color-accent);
  border-radius: 0;
  font-size: f.remify(14px);
  color: var(--qgds-color-text-default, #353535);
  text-decoration: underline solid transparent 0;
  background-color: var(--qgds-navigation-item-bg, #f5f5f5);
  transition-property: text-decoration, color, background-color, border-color;
  transition-duration: var(--qgds-transition-duration);
  transition-timing-function: var(--qgds-transition-easing);

  @include m.focusable($offset-outline: false) {
    // background-color: var(--qgds-navigation-item-bg-hover, #e3e7ea);
  }

  @include m.xl-up() {
    font-size: f.remify(16px);
    padding-inline: f.remify(12px);
  }

  &.is-active {
    --color-accent: var(--qgds-color-neutral-lightest, #f5f5f5);

    font-weight: 600;
  }

  // &.is-open {
  // }

  &:hover {
    --color-accent: var(--qgds-color-action-primary-hover, #003e96);

    background-color: var(--qgds-navigation-item-bg-hover, #e3e7ea);
  }

  &.is-horizontal {
    block-size: calc(var(--height) + var(--size-accent));
  }

  &.is-vertical {
    block-size: var(--height);
  }

  //   &-label {
  //     //
  //   }
}

.dropdown-icon {
  transform: rotate(0deg);
  transition: transform var(--qgds-transition-duration) var(--qgds-transition-easing);

  .is-open & {
    transform: rotate(180deg);
  }
}

// The mega menu dropdown
.mega-menu {
  $block: &;

  --qgds-color-underline-default: transparent;
  --qgds-link-decoration-thickness: 0;

  position: absolute; // requires postion relative on the navigation bar
  z-index: 3;
  inset-inline: 0;
  inline-size: 100%;
  max-inline-size: bp.$xl;
  margin-inline: auto;
  padding-block: f.remify(32px);
  padding-inline: f.remify(48px);
  border-radius: 0 0 f.remify(12px) f.remify(12px);
  box-shadow: var(--qgds-elevation-2);
  transform-origin: 50% -64px;

  // transition properties
  display: none;
  transition-behavior: allow-discrete;
  opacity: 0;
  transform: scale(0.99, 0.95);
  transition-property: opacity, display, transform;
  transition-duration: var(--qgds-transition-duration);
  transition-timing-function: var(--qgds-transition-easing-inverse);

  @include m.xl-up() {
    padding-block: f.remify(48px);
    padding-inline: f.remify(64px);
  }

  &.is-open {
    display: block;
    transform: scale(1);
    opacity: 1;
    transition-timing-function: var(--qgds-transition-easing);

    // required for transitions from display none
    @starting-style {
      opacity: 0;
      transform: scale(0.99, 0.95);
      transition-timing-function: var(--qgds-transition-easing-inverse);
    }
  }

  // mega menu elements
  &-header {
    font-size: f.remify(24px);
    padding-block-end: f.remify(32px);
    border-block-end: 2px solid var(--qgds-color-border);
    margin-block-end: f.remify(32px);
  }

  &-items {
    position: relative;
    column-gap: f.remify(32px);
    column-width: 12rem; // sensible minimum

    @include m.xl-up() {
      column-gap: f.remify(64px);
    }

    &.column-count-1 {
      column-count: 1;
    }

    &.column-count-2 {
      column-count: 2;
    }

    &.column-count-3 {
      column-count: 3;
    }

    // offset the description bottom margin.
    &.has-descriptions {
      margin-block-end: f.remify(-16px);
    }

    // hack to remove top border from columns items
    &::after {
      content: "";
      position: absolute;
      border-block-start: 1px solid var(--qgds-color-background);
      inset-block-start: 0;
      inset-inline: 0;
    }
  }

  &-item {
    break-inside: avoid;
    border-block-start: 1px solid var(--qgds-color-border);
  }

  // is a qgds-link
  &-link {
    font-weight: 600;

    &.is-heading {
      font-size: f.remify(24px);
    }

    &.is-sub-item {
      padding-block: 1rem;
      font-size: f.remify(16px);
      inline-size: 100%;

      // required properties to make focus state work with the remove top border hack of .qgds-mega-menu-items::before
      isolation: auto;
      position: relative;
      z-index: 1;
    }
  }

  &-footer {
    padding-block-start: f.remify(32px);
    border-block-start: 2px solid var(--qgds-color-border);
    margin-block-start: f.remify(32px);
    display: flex; // use flex and justify-content rather than text-align in case call to action changes to display block
    justify-content: flex-end;
  }
}

.description {
  color: var(--qgds-color-text-lighter);
  font-size: f.remify(14px);
  line-height: f.snap-line-height(1.45);
  @include m.truncate($num-lines: 4);

  .mega-menu-item & {
    border-block-start: 1px solid var(--qgds-color-border);
    padding-block-start: f.remify(20px);
    margin-block-end: f.remify(16px);
  }

  .mega-menu-header & {
    font-size: f.remify(16px);
    color: var(--qgds-color-text-default);
    margin-block-start: f.remify(16px);
  }
}
