@use "../../styles/tools";

:host {
  display: block;
}

.attribution-bar {
  max-inline-size: 100%;
  margin-inline: auto;
  background-color: var(--qgds-color-background);
  box-shadow: var(--qgds-elevation-2);

  &-container {
    padding-block: tools.remify(6px);
  }

  ::slotted(*) {
    line-height: tools.remify(24px);
  }

  qgds-link,
  ::slotted(qgds-link) {
    --qgds-link-decoration: none;
    --qgds-icon-color: var(--qgds-color-action-secondary);
    --qgds-color-link-visited: var(--qgds-color-link-default); // No visited colour change
    --qgds-color-underline-visited: var(--qgds-color-underline-default); // No visited colour change
    --qgds-color-underline-visited-hover: var(--qgds-color-underline-default-hover); // No visited colour change
  }

  &-links {
    display: flex;
    justify-content: flex-end;
    min-inline-size: fit-content;
    gap: tools.remify(16px);
  }
}
