:host {
  --icon-spacing: 0;
  --qgds-link-icon-size: 2rem;
  --qgds-link-font-size: 1.25rem;
  --qgds-link-font-weight: 600;
  --qgds-link-padding: 0;
  --qgds-link-margin-inline-start: auto;

  display: flex;
}

:host([is-view-all]) {
  --qgds-link-font-size: 1.25rem;
}
