@use "../../styles/qgds-tokens/qgds-color-stub";
@use "../../styles/qgds-tokens/qgds-breakpoint";
@use "../../styles/tools";

// Public API: CSS custom properties that can be overridden from light DOM
// Example: qgds-global-alert { --bg: navy; }
:host {
  --bg: initial;
  --icon-fg: initial;
  --text-fg: initial;
  --border: initial;
  --border-width: initial;

  // Internal API
  --_bg: var(--bg);
  --_text-fg: var(--text-fg, var(--qgds-color-neutral-white));
  --_border: var(--border);
  --_border-width: var(--border-width, 1px);
  --_icon-bg: rgb(0 0 0 / 0.1);

  display: block;
  min-block-size: 3.56rem;
  background-color: var(--_bg);
  color: var(--_text-fg);
  border-block-start: var(--_border-width) solid var(--_border);
}

// Variant colours
:host([variant="critical"]) {
  --_bg: var(--bg, var(--qgds-color-status-error-default));
  --_text-fg: var(--text-fg, var(--qgds-color-neutral-white));
  --_border: var(--border, var(--qgds-color-status-error-darker));  // should --border used here
  --_icon-focus-border-colour: var(--qgds-color-neutral-white);
}

:host([variant="warning"]) {
  --_bg: var(--bg, var(--qgds-color-status-caution-default));
  --_text-fg: var(--text-fg, var(--qgds-color-neutral-darkest));
  --_border:var(--qgds-color-status-caution-darker);
  --_icon-focus-border-colour: var(--qgds-color-neutral-darkest);
}

:host([variant="general"]) {
  --_bg: var(--bg, var(--qgds-color-status-info-lighter));
  --_text-fg: var(--text-fg, var(--qgds-color-neutral-darkest));
  --_border: var(--qgds-color-status-info-darker);
  --_icon-focus-border-colour: var(--qgds-color-neutral-darkest);
}

:host(:first-of-type) {
  --_border-width: 0;
  --_border: transparent;
}

.global-alert {
  font-size: tools.remify(14px);
  line-height: tools.remify(20px);
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
  align-items: start;
  min-inline-size: fit-content;
  max-inline-size: tools.remify(1312px);
  margin-inline: auto;
  padding-block: tools.remify(12px);
  padding-inline: tools.remify(16px);
  gap: tools.remify(8px) tools.remify(12px);

  --qgds-icon-svg: initial;

  @media (min-width: qgds-breakpoint.$md) {
    padding-block: tools.remify(16px);
    padding-inline: tools.remify(32px);
    column-gap: tools.remify(12px);
  }
  @media (min-width: qgds-breakpoint.$lg) {
    padding-block: tools.remify(8px);
    padding-inline: tools.remify(64px);
    column-gap: tools.remify(16px);
  }
}

::slotted(*) {
    display: block;
    margin: 0;
}

qgds-icon.global-alert-icon {
  padding-block: 0;

  @media (min-width: qgds-breakpoint.$lg) {
    padding-block: tools.remify(10px);
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  min-inline-size: 0;
  gap: tools.remify(8px);
  padding-block: 0;

  @media (min-width: qgds-breakpoint.$md) {
    flex-wrap: nowrap;
    gap: tools.remify(12px);
  }

  @media (min-width: qgds-breakpoint.$lg) {
    gap: tools.remify(16px);
    padding-block: tools.remify(10px);
  }
}

.message {
  flex: 1 1 auto;
  min-inline-size: 0;
  max-inline-size: fit-content;
}

.heading {
  font-weight: 700;
}

qgds-call-to-action {
  --qgds-color-link-default: var(--_text-fg);
  --qgds-color-underline-default: var(--_text-fg);
  --qgds-color-link-hover: var(--_text-fg);
  --qgds-color-focus-default: var(--_icon-focus-border-colour);
  --qgds-link-font-size: tools.remify(14px);
  --qgds-link-font-weight: 600;
  --qgds-link-align-items: flex-start;
  
  flex: 0 1 auto;
  white-space: normal;

  @media (min-width: qgds-breakpoint.$md) {
    flex: 0 0 auto;
    white-space: nowrap;
    align-self: flex-start;
  }
}

button.close {
  --qgds-color-focus-default: var(--_icon-focus-border-colour);
  --qgds-icon-size: 1.25rem;

  background: var(--_icon-bg);
  cursor: pointer;
  color: inherit;
  border-radius: 100%;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  padding: 0;
  inline-size: tools.remify(32px);
  block-size: tools.remify(32px);
  aspect-ratio: 1 / 1;
  margin-inline-start: tools.remify(4px); // 12px grid gap + 4px = 16px total on mobile
  
  @include tools.focusable();
  
  &:hover, &:focus {
    transform: scale(1.25);
  }

  &:focus {
    outline-offset: 0;
  }

  @media (min-width: qgds-breakpoint.$md) {
    margin-inline-start: tools.remify(36px); // 12px grid gap + 36px = 48px min total
  }

  @media (min-width: qgds-breakpoint.$lg) {
    --qgds-icon-size: 1.5rem;

    margin-block-start: tools.remify(2px);
    margin-inline-start: tools.remify(32px); // 16px grid gap + 32px = 48px min total
    inline-size: tools.remify(40px);
    block-size: tools.remify(40px);

    &:hover, &:focus {
      transform: scale(1.2);
    }
  }
}

