@use "../../styles/qgds-tokens/qgds-color-stub";

$_border-width: 2px;

:host {
  --icon-color: initial;
  --background: initial;
  --border: initial;

  display: block;
}

.qgds-inpage-alert {
  --qgds-icon-color: var(--icon-color, var(--qgds-color-neutral-white));

  border-radius: 0.25rem;
  border: $_border-width solid var(--_border);
  overflow: hidden;
  display: flex;

  &.is-info {
    --_border: var(--border, var(--qgds-color-status-info-default));
  }

  &.is-success {
    --_border: var(--border, var(--qgds-color-status-success-default));
  }

  &.is-error {
    --_border: var(--border, var(--qgds-color-status-error-default));
  }

  &.is-warning {
    --_border: var(--border, var(--qgds-color-status-caution-default));
    --qgds-icon-color: var(--icon-color, var(--qgds-color-neutral-black));
  }
}

.icon-wrapper {
  flex: 0 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--_border);
  margin-inline-start: -($_border-width);
}

.content-wrapper {
  @extend %qgds-color-palette-default;

  background-color: var(--background, var(--qgds-color-background));
  color: var(--qgds-color-text-default);
  flex: 1 1 auto;
  padding: 1rem;
}

.heading {
  margin-block: 0 1rem;
}
