// QGDS Global styles, these are inherited by all components
// https: //developer.mozilla.org/en-US/docs/Web/CSS/CSS_cascade/Inheritance#properties_that_inherit_by_default

// Ordering of styles should in general follow ITCSS principles. https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture
// This file is for ordering and organising styles, do not write CSS directly here.
// In order to output CSS within @layer scope, wrap it in a css() mixin and call that mixin here. (meta.load-css could also work).
// Component styles should not be placed in global CSS.

@use "base/animations";
@use "base/elements";
@use "base/globals";
@use "base/palettes";
@use "utilities";
@layer base, components, utilities; /* Defines named layers and their order */

@layer base {
  @include globals.css();
  @include animations.css();
  @include elements.css();
  @include palettes.css();
}

// @layer components - Loaded Component styles will be scoped here

@layer utilities {
  @include utilities.css();
}

.sb-show-main, .css-1cvjpgl, .parent-container {
  background: var(--qgds-color-background);
  color: var(--text);
  padding: var(--default-spacing);
}

.palette-pale, #storybook-docs:has(.palette-pale), .sb-show-main:has(.palette-pale) {
  --qgds-color-background:#e6f6ff;
}

.palette-muted, #storybook-docs:has(.palette-muted), .sb-show-main:has(.palette-muted) {
  --qgds-color-background: #e3e7ea;
}

.palette-bold, #storybook-docs:has(.palette-bold), .sb-show-main:has(.palette-bold) {
  --qgds-color-background: #005eb8;
}

.palette-deep, #storybook-docs:has(.palette-deep), .sb-show-main:has(.palette-deep) {
  --qgds-color-background: #05325f;
}