// QGDS Global styles, these are inherited by all components
// https: //developer.mozilla.org/en-US/docs/Web/CSS/CSS_cascade/Inheritance#properties_that_inherit_by_default

// Ordering of styles should in general follow ITCSS principles. https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture
// This file is for ordering and organising styles, do not write CSS directly here.
// In order to output CSS within @layer scope, wrap it in a css() mixin and call that mixin here. (meta.load-css could also work).
// Component styles should not be placed in global CSS.

@use "base/animations";
@use "base/elements";
@use "base/globals";
@use "base/palettes";
@use "utilities";
@layer base, components, utilities; /* Defines named layers and their order */

@layer base {
  @include globals.css();
  @include animations.css();
  @include elements.css();
  @include palettes.css();
}

// @layer components - Loaded Component styles will be scoped here

@layer utilities {
  @include utilities.css();
}


:root {
  --qgds-color-other-gov-maroon: #771e32;
  --qgds-color-other-modern-maroon: #a70240;
  --qgds-color-primary-dark-blue: #05325f;
  --qgds-color-primary-light-blue: #0085b3;
  --qgds-color-primary-light-green: #6bbe27;
  --qgds-color-primary-sapphire-blue: #09549f;
  --qgds-color-secondary-darkgreen: #008635;
  --qgds-color-secondary-golden-yellow: #ffe500;
  --qgds-color-code-green: #6bbe27;
  --qgds-color-code-light-blue: #a7e5ff;
  --qgds-color-code-muted: #c0d7ec;
  --qgds-color-code-violet: #c88df7;
  --qgds-color-neutral-black: #131212;
  --qgds-color-neutral-dark: #78797e;
  --qgds-color-neutral-darker: #444;
  --qgds-color-neutral-darkest: #222020;
  --qgds-color-neutral-light: #e0e0e0;
  --qgds-color-neutral-lighter: #ebebeb;
  --qgds-color-neutral-lightest: #f5f5f5;
  --qgds-color-neutral-white: #fff;
  --qgds-color-status-caution-darker: #b38800;
  --qgds-color-status-caution-default: #ffcc2c;
  --qgds-color-status-caution-lighter: #fff2c9;
  --qgds-color-status-caution-lightest: #fffaea;
  --qgds-color-status-error-darker: #8a1220;
  --qgds-color-status-error-default: #e22339;
  --qgds-color-status-error-lighter: #fdf0f0;
  --qgds-color-status-error-lightest: #fff6f6;
  --qgds-color-status-info-darker: #006a8f;
  --qgds-color-status-info-default: #0085b3;
  --qgds-color-status-info-lighter: #e5eef5;
  --qgds-color-status-info-lightest: #eff4f9;
  --qgds-color-status-success-darker: #0a690d;
  --qgds-color-status-success-default: #339d37;
  --qgds-color-status-success-lighter: #f2faf4;
  --qgds-color-status-success-lightest: #f7fbf8;
  --qgds-color-status-underline-dark: #03213fb8;
  --qgds-color-status-underline-light: #ffffffb8;
}

:root, .default {
  --qgds-color-accent-design-accent: #84d3ff;
  --qgds-color-action-primary-hover: #003e96;
  --qgds-color-action-primary: #005eb8;
  --qgds-color-action-secondary-hover: #004ea7;
  --qgds-color-action-secondary: #307edb;
  --qgds-color-background: #ffffff;
  --qgds-color-background-shade: #f5f5f5;
  --qgds-color-border: #ebebeb;
  --qgds-color-crest-fill: #005eb8;
  --qgds-color-focus-default: #002e85;
  --qgds-color-link-default: #005eb8;
  --qgds-color-link-on-action: #ffffff;
  --qgds-color-link-visited: #551a8b;
  --qgds-color-site-title: #005eb8;
  --qgds-color-text-default: #353535;
  --qgds-color-text-heading: #000053;
  --qgds-color-text-lighter: #636363;
  --qgds-color-underline-default-hover: #005eb8;
  --qgds-color-underline-default: #3f7ab4;
  --qgds-color-underline-visited-hover: #551a8b;
  --qgds-color-underline-visited: #8b63b0;
}

.pale {
  --qgds-color-accent-design-accent: #84d3ff;
  --qgds-color-action-primary-hover: #003e96;
  --qgds-color-action-primary: #005eb8;
  --qgds-color-action-secondary-hover: #004ea7;
  --qgds-color-action-secondary: #307edb;
  --qgds-color-background: #e6f6ff;
  --qgds-color-background-shade: #ceedff;
  --qgds-color-border: #bedfff;
  --qgds-color-crest-fill: #005eb8;
  --qgds-color-focus-default: #002e85;
  --qgds-color-link-default: #005eb8;
  --qgds-color-link-on-action: #ffffff;
  --qgds-color-link-visited: #551a8b;
  --qgds-color-site-title: #005eb8;
  --qgds-color-text-default: #353535;
  --qgds-color-text-heading: #000053;
  --qgds-color-text-lighter: #636363;
  --qgds-color-underline-default-hover: #005eb8;
  --qgds-color-underline-default: #3f7ab4;
  --qgds-color-underline-visited-hover: #551a8b;
  --qgds-color-underline-visited: #8b63b0;
}

.muted {
  --qgds-color-accent-design-accent: #84d3ff;
  --qgds-color-action-primary-hover: #003e96;
  --qgds-color-action-primary: #005eb8;
  --qgds-color-action-secondary-hover: #004ea7;
  --qgds-color-action-secondary: #307edb;
  --qgds-color-background: #e3e7ea;
  --qgds-color-background-shade: #d6dce0;
  --qgds-color-border: #848484;
  --qgds-color-crest-fill: #005eb8;
  --qgds-color-focus-default: #002e85;
  --qgds-color-link-default: #005eb8;
  --qgds-color-link-on-action: #ffffff;
  --qgds-color-link-visited: #551a8b;
  --qgds-color-site-title: #005eb8;
  --qgds-color-text-default: #353535;
  --qgds-color-text-heading: #000053;
  --qgds-color-text-lighter: #636363;
  --qgds-color-underline-default-hover: #005eb8;
  --qgds-color-underline-default: #3f7ab4;
  --qgds-color-underline-visited-hover: #551a8b;
  --qgds-color-underline-visited: #8b63b0;
}

.bold {
  --qgds-color-accent-design-accent: #84d3ff;
  --qgds-color-action-primary-hover: #a6f7ff;
  --qgds-color-action-primary: #84d3ff;
  --qgds-color-action-secondary-hover: #a6f7ff;
  --qgds-color-action-secondary: #84d3ff;
  --qgds-color-background: #005eb8;
  --qgds-color-background-shade: #003e96;
  --qgds-color-border: #418fed;
  --qgds-color-crest-fill: #ffffff;
  --qgds-color-focus-default: #c6ffff;
  --qgds-color-link-default: #ffffff;
  --qgds-color-link-on-action: #001c37;
  --qgds-color-link-visited: #F2CDFF;
  --qgds-color-site-title: #ffffff;
  --qgds-color-text-default: #ffffff;
  --qgds-color-text-heading: #ffffff;
  --qgds-color-text-lighter: #deebf9;
  --qgds-color-underline-default-hover: #ffffff;
  --qgds-color-underline-default: #b5cce2;
  --qgds-color-underline-visited-hover: #F2CDFF;
  --qgds-color-underline-visited: #C6AED9;
}

.deep {
  --qgds-color-accent-design-accent: #84d3ff;
  --qgds-color-action-primary-hover: #a6f7ff;
  --qgds-color-action-primary: #84d3ff;
  --qgds-color-action-secondary-hover: #a6f7ff;
  --qgds-color-action-secondary: #84d3ff;
  --qgds-color-background: #001d74;
  --qgds-color-background-shade: #000764;
  --qgds-color-border: #418fed;
  --qgds-color-border-alt: #63b1ff;
  --qgds-color-crest-fill: #ffffff;
  --qgds-color-focus-default: #c6ffff;
  --qgds-color-link-default: #ffffff;
  --qgds-color-link-on-action: #001c37;
  --qgds-color-link-visited: #F2CDFF;
  --qgds-color-site-title: #ffffff;
  --qgds-color-text-default: #ffffff;
  --qgds-color-text-heading: #ffffff;
  --qgds-color-text-lighter: #deebf9;
  --qgds-color-underline-default-hover: #ffffff;
  --qgds-color-underline-default: #b5cce2;
  --qgds-color-underline-visited-hover: #F2CDFF;
  --qgds-color-underline-visited: #C6AED9;
}

.pale, #storybook-docs:has(.pale) {
  --qgds-color-background:#e6f6ff;
}

.muted, #storybook-docs:has(.muted) {
  --qgds-color-background: #e3e7ea;
}

.bold, #storybook-docs:has(.bold) {
  --qgds-color-background: #005eb8;
}

.deep, #storybook-docs:has(.deep) {
  --qgds-color-background: #05325f;
}

.css-1cvjpgl, .parent-container {
  background: var(--qgds-color-background);
  color: var(--text);
  padding: var(--default-spacing);
}

.icon-test {
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3e %3cpath fill='currentColor' d='M6.552 28a2.464 2.464 0 0 1-1.81-.741A2.463 2.463 0 0 1 4 25.448V6.552c0-.713.247-1.317.741-1.81A2.463 2.463 0 0 1 6.552 4h7.846c.3 0 .552.101.755.304.202.203.304.454.304.755 0 .3-.102.552-.304.754a1.025 1.025 0 0 1-.755.305H6.552a.414.414 0 0 0-.298.136.414.414 0 0 0-.136.298v18.896c0 .109.045.208.136.299.09.09.19.135.298.135h18.896a.414.414 0 0 0 .299-.136c.09-.09.135-.19.135-.298v-7.846c0-.3.102-.552.305-.755.202-.203.454-.304.754-.304s.552.102.755.304c.203.203.304.454.304.755v7.846c0 .713-.247 1.317-.741 1.81a2.463 2.463 0 0 1-1.811.742H6.552Zm19.33-20.395L13.524 19.964a1.025 1.025 0 0 1-.737.3.999.999 0 0 1-.75-.3 1.014 1.014 0 0 1-.308-.744c0-.291.103-.54.307-.744L24.395 6.118h-4.513c-.3 0-.552-.102-.754-.305a1.024 1.024 0 0 1-.305-.754c0-.3.102-.552.305-.755.202-.203.454-.304.754-.304h6.842c.364 0 .667.122.91.365.244.244.366.547.366.911v6.842c0 .3-.101.552-.304.754a1.024 1.024 0 0 1-.755.305c-.3 0-.552-.102-.754-.305a1.024 1.024 0 0 1-.305-.754V7.605Z'/%3e %3c/svg%3e");
  inline-size: 1.5rem;
  block-size: 1.5rem;
  background-color: currentcolor;
  background-position: center center;
  background-repeat: no-repeat;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;
  background-size: contain;
  vertical-align: middle;
  display: inline-block;
}
