:host {
  --qgds-icon-color: unset;
  --qgds-icon-size-xs: 1rem;
  --qgds-icon-size-sm: 1.25rem;
  --qgds-icon-size-md: 1.5rem;
  --qgds-icon-size-lg: 2rem;
  --qgds-icon-size-xl: 2.5rem;
  --qgds-icon-size-xxl: 3rem;
  --qgds-icon-size: initial;

  display: inline-block;
  vertical-align: middle;
}

.qgds-icon {
  display: flex;
  inline-size: var(--_qgds-icon-size); // set as dynamic style prop in component logic
  line-height: var(--qgds-line-height-none, 1);
  block-size: var(--_qgds-icon-size);
  background-position: center center;
  background-repeat: no-repeat;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;
  background-size: contain;
  vertical-align: top;
  mask-image: var(--qgds-icon-svg);
  color: var(--qgds-icon-color, inherit);
  background-color: currentColor;
}

/* Multicolour icons use background-image instead of mask-image */
.qgds-icon-multicolour {
  mask-image: none;
  background-image: var(--qgds-icon-svg);
  background-color: transparent;
}
