@use "../../scss/icons/icons.list" as icons;

$_sizes: (
  "xs": var(--qgds-icon-size-xs),
  "sm": var(--qgds-icon-size-sm),
  "md": var(--qgds-icon-size-md),
  "lg": var(--qgds-icon-size-lg),
  "xl": var(--qgds-icon-size-xl),
  "xxl": var(--qgds-icon-size-xxl),
);

:host {
  --qgds-icon-color: var(--qgds-color-text-default, inherit);
  display: inline-block;
}

@each $key, $value in $_sizes {
  :host([size="#{$key}"]) {
    --qgds-icon-size: #{$value};
  }
}

@each $key, $_ in icons.$icon-names {
  :host([iconid="#{$key}"]) {
    --qgds-icon-svg: var(--qgds-icon-#{$key});
  }
}

.qgds-icon {
  display: inline-flex;
  inline-size: var(--qgds-icon-size);
  block-size: var(--qgds-icon-size);
  background-position: center center;
  background-repeat: no-repeat;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;
  background-size: contain;
  vertical-align: middle;
  mask-image: var(--qgds-icon-svg);
  color: var(--qgds-icon-color, inherit);
  background-color: currentcolor;
}

/* Multicolour icons use background-image instead of mask-image */
.qgds-icon-multicolour {
  mask-image: none;
  background-image: var(--qgds-icon-svg);
  background-color: transparent;
}
