@use "../../styles/tools" as t;

:host {
  --bg: initial;
  --bg-hover: initial;
  --bg-focus: initial;
  --fg: initial;
  --fg-hover: initial;
  --fg-focus: initial;
  --border: initial;
  --border-hover: initial;
  --border-focus: initial;

  display: inline-block;
  max-inline-size: 100%;
}

// .qgds-tag
.qgds-tag {
  --_bg: var(--bg, var(--qgds-tag-default-bg, transparent));
  --_fg: var(--fg, var(--qgds-tag-default-fg, #636363));
  --_border: var(--border, var(--qgds-tag-default-border, #ebebeb));
  --padding-x: #{t.remify(8px)};
  --height: #{t.remify(24px)};

  @include t.border-padding(1px, 0 var(--padding-x));

  border-color: var(--_border);
  border-style: solid;
  border-radius: calc(var(--height) / 2);
  display: inline-flex;
  align-items: center;
  font-size: t.remify(14px);
  font-weight: 400;
  line-height: t.snap-line-height(1.45);
  white-space: nowrap;
  color: var(--_fg);
  background-color: var(--_bg);
  block-size: var(--height);
  max-inline-size: 100%;

  &-label {
    @include t.truncate();
  }

  &-dismiss {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    inline-size: var(--height);
    block-size: var(--height);
    padding: 0;
    margin-inline: t.remify(4px) calc(var(--padding-x) * -1);
    background: transparent;
    border: none;
    color: var(--qgds-color-action-secondary, #307edb);
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;

    @include t.focusable($offset-outline: false);

    .hover-icon {
      display: none;
    }

    &:is(:hover, :active, :focus) {
      color: var(--qgds-color-action-secondary-hover, #004ea7);

      .default-icon {
        display: none;
      }

      .hover-icon {
        display: inline-flex;
      }
    }
  }

  &.is-lg {
    --height: #{t.remify(40px)};
    --padding-x: #{t.remify(16px)};

    font-size: t.remify(16px);
  }

  &.is-info {
    --_bg: var(--bg, var(--qgds-tag-info-bg, #f5f5f5));
    --_fg: var(--fg, var(--qgds-tag-info-fg, #636363));
    --_border: var(--border, var(--qgds-tag-info-border, transparent));
  }

  &.is-action {
    --_bg: var(--bg, transparent);
    --_fg: var(--fg, var(--qgds-color-link-default, #005eb8));
    --_border: var(--border, var(--qgds-color-link-default, #005eb8));

    text-decoration: none transparent;
    text-decoration-thickness: var(--qgds-link-decoration-thickness, 0.5px);
    text-underline-offset: var(--qgds-link-underline-offset, 0.3em);

    &:hover {
      background-color: var(--bg-hover, var(--qgds-color-action-primary-hover, #003e96));
      color: var(--fg-hover, var(--qgds-color-link-on-action, #ffffff));
      border-color: var(--border-hover, var(--qgds-color-action-primary-hover, #003e96));
      text-decoration: underline currentColor;
      text-decoration-thickness: var(
        --qgds-link-decoration-thickness,
        0.5px
      ); // override the default hover thickness to thin
    }

    &:active,
    &:focus {
      background-color: var(--bg-focus, var(--qgds-color-action-primary-hover, #003e96));
      color: var(--fg-focus, var(--qgds-color-link-on-action, #ffffff));
      border-color: var(--border-focus, var(--qgds-color-action-primary-hover, #003e96));
      text-decoration: underline currentColor;
      text-decoration-thickness: var(
        --qgds-link-decoration-thickness,
        0.5px
      ); // override the default hover thickness to thin
    }

    @include t.focusable();
  }
}
