/*  Content flow and vertical rhythm. 

    Typography and element styles are defined in their own modules. 
*/

@use "sass:map";
@use "../tools/mixins" as m;
@use "../../styles/tools/functions" as f;
@use "../../styles/qgds-tokens" as *;

/* ==========================================================================
   Vertical Rhythm Scoped to Content Blocks
   ========================================================================== */

:where(.qgds-content) {
  // All breakpoints
  @each $name, $value in $vertical-space-static-tokens {
    --qgds-#{$name}: #{f.remify($value)};
  }

  // Small and tablet (mobile/default) breakpoints
  @each $name, $value in map.get($vertical-space-responsive-tokens, default) {
    --qgds-#{$name}: #{f.remify($value)};
  }

  // Large and above (desktop)
  @include m.lg-up() {
    @each $name, $value in map.get($vertical-space-responsive-tokens, large) {
      --qgds-#{$name}: #{f.remify($value)};
    }
  }

  // Max content block size
  &.is-limit-width {
    :is(p, li, blockquote) {
      max-inline-size: var(--qgds-content-max-width, 80ch);
    }
  }

  // In mobile first layout, each .qgds-content block has a negative inline margin to compensate for an outer grid gutter
  // This ensure content blocks are edge-to-edge on smaller viewports, (and their background colours spans the full width).
  margin-inline: calc(var(--qgds-grid-padding) * -1);

  // Remove the negative inline margin on larger viewports,
  // .qgds-content blocks will align with the grid and honour grid gutter, they do not need to extend edge-to-edge.
  @include m.lg-up() {
    margin-inline: initial;
  }

  /* Zero top margin on the first in-flow child of a .qgds-content container */
  > :is(*):first-child {
    margin-block-start: 0;
  }

  /* Headings & Paragraph Spacing */
  h2 {
    margin-block-start: var(--qgds-vspace-h2);
  }

  h3 {
    margin-block-start: var(--qgds-vspace-h3);
  }

  :is(h4, h5, h6) {
    margin-block-start: var(--qgds-vspace-h4);
  }

  p {
    margin-block-start: var(--qgds-vspace-paragraph);

    &:first-child {
      margin-block-start: 0;
    }
  }

  /* Heading followed by body text contextual override */
  :where(h1, h2, h3, h4, h5, h6) + :where(p, ul, ol) {
    margin-block-start: var(--qgds-vspace-heading-text);
  }

  /* Lists */
  * + :is(ul, ol) {
    margin-block-start: var(--qgds-vspace-list);
    list-style-position: inside;
  }

  dl,
  dt {
    margin-block-start: var(--qgds-vspace-paragraph);
  }

  /* Block-level components and forms (adjacent sibling spacing) */
  *
    + :is(
      form,
      blockquote,
      figure,
      table,
      qgds-blockquote,
      qgds-accordion-group,
      qgds-callout,
      qgds-inpage-alert,
      qgds-inpage-nav,
      qgds-link-column,
      qgds-pagination,
      qgds-promotional-panel,
      qgds-table,
      qgds-tabs,
      qgds-video,
      qgds-radio-group,
      qgds-checkbox-group,
      qgds-text-input,
      qgds-select
    ) {
    margin-block-start: var(--qgds-vspace-component);
  }

  /* Helper utilities to wrap around a group of components, for example multiple <qgds-card>'s or <qgds-button>'s */

  .qgds-component-block {
    margin-block-start: var(--qgds-vspace-component);
  }
}

.qgds-section {
  margin-block: 0;
  margin-inline: calc(var(--qgds-grid-padding) * -1);
  padding-block: 0 var(--qgds-vspace-section-padding);
  padding-inline: max(var(--qgds-hspace-content-inner), var(--qgds-grid-padding));

  /* Zero margin on the first element in a qgds-section */
  > :first-child {
    margin-block-start: unset;
  }
}

// Variables as utilites
.qgds-pt-section {
  padding-block-start: var(--qgds-vspace-section-padding);
}

.qgds-pb-section {
  padding-block-end: var(--qgds-vspace-section-padding);
}

/* To avoid excessive whitespace accumulation, collapse adjacent blocks where:
1. neither has a palette class
2. both have the same palette class
3. one has a default palette class and the other does not have a palette class
*/

$palettes: ("default", "soft", "muted", "bold", "deep");

:where(.qgds-section) {
  @each $palette in $palettes {
    /* Every section scoped with a NON-DEFAULT palette class will have a top padding applied */
    &.qgds-palette-#{$palette} {
      padding-block-start: var(--qgds-vspace-section-padding);
    }

    /* Sibling containers with matching palettes remove the padding (collapse the space) */
    &.qgds-palette-#{$palette} + .qgds-palette-#{$palette} {
      padding-block-start: 0;
    }

    /* Every container following a palette container, and has a different palette, needs a top padding */
    &.qgds-palette-#{$palette} + :not([class*="qgds-palette-#{$palette}"]) {
      padding-block-start: var(--qgds-vspace-section-padding);
    }
  }

  &.qgds-palette-default + :not([class*="qgds-palette-"]) {
    padding-block-start: 0;
  }
}
