@use "../tools/mixins" as m;
@use "./typography";

/* ==========================================================================
   Base Element Styles (Unscoped Defaults)
   ========================================================================== */

// Base Line Heights & Headings
p,
ul,
ol,
li,
blockquote,
pre,
code,
summary {
  line-height: var(--qgds-line-height-default, 1.45);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %qgds-heading;
}

// Lists & Description Lists
li {
  margin-block-start: var(--qgds-vspace-list-item);
}

:is(ul, ol) {
  list-style-position: unset;
  padding-inline-start: 2rem;
  line-height: 1.75;
}

dl {
  dt {
    font-weight: var(--qgds-font-weight-semibold);
  }

  dd {
    margin-inline-start: 0;
    margin-block-start: var(--qgds-vspace-list-item);
    padding-inline-start: 0.5rem;
    border-inline-start: 1px solid var(--qgds-color-text-default);
  }
}

// Links
a {
  color: var(--qgds-color-link-default);
  border-radius: 1px;
  text-decoration: {
    line: var(--qgds-link-decoration, underline);
    thickness: var(--qgds-link-decoration-thickness, 0.5px);
    style: solid;
    color: var(--qgds-color-underline-default, #3f7ab4);
  }

  &:visited {
    color: var(--qgds-color-link-visited);
    text-decoration-color: var(--qgds-color-underline-visited, #8b63b0);
  }

  &:is(:hover, :active) {
    color: var(--qgds-color-link-hover);
    text-decoration-line: var(--qgds-link-decoration-hover, underline);
    text-decoration-thickness: var(--qgds-link-decoration-thickness-hover, 2px);
    text-decoration-color: currentColor;
  }
  @include m.focusable() {
    color: var(--qgds-color-link-hover);
    text-decoration-line: var(--qgds-link-decoration-hover, underline);
    text-decoration-thickness: var(--qgds-link-decoration-thickness-hover, 2px);
    text-decoration-color: currentColor;
  }
}

// Code & Preformatted Text
kbd,
pre,
code {
  background: var(--qgds-color-neutral-lighter, #f5f5f5);
  font-family: monospace;
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.25rem;
  margin: 0;
}
