@use "sass:map";
@use "sass:meta";
@use "../qgds-tokens/" as *;
@use "../icons/icons.list" as icons;
@use "../tools/functions" as f;

// Below are global styles applied to the entire document
// These are just placeholder styles, can be customized as needed;
:root {
  --qgds-font-family: "Noto Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  --qgds-list-padding: 1.5rem; // Custom property for list padding, default to 1.5rem

  // Text decoration for links and interactive elements
  --qgds-link-decoration: underline;
  --qgds-link-decoration-hover: underline;
  --qgds-link-underline-offset: 0.3em;
  --qgds-link-decoration-thickness: 0.5px;
  --qgds-link-decoration-thickness-hover: 2px;

  // Breakpoints
  --qgds-breakpoint-xs: #{$breakpoint-xs};
  --qgds-breakpoint-sm: #{$breakpoint-sm};
  --qgds-breakpoint-md: #{$breakpoint-md};
  --qgds-breakpoint-lg: #{$breakpoint-lg};
  --qgds-breakpoint-xl: #{$breakpoint-xl};
  --qgds-breakpoint-xxl: #{$breakpoint-xxl};

  // Line height utility
  --qgds-line-height-default: 1.45;
  --qgds-line-height-heading: 1.25;
  --qgds-line-height-none: 1;

  @each $name, $svg in icons.$icon-names {
    --qgds-icon-#{$name}: url("#{f.svg-encode($svg)}");
  }
}

// Global Styling for HTML elements - generic/global namespace primary for body content
html {
  font-size: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: var(--qgds-font-family);
  line-height: var(--qgds-line-height-default);
  color: var(--qgds-color-text-default);
  -webkit-font-smoothing: antialiased;
}
