@use "sass:map";

// reset and/or normalize styles, box-sizing definition, etc. This is the first layer which generates actual CSS.

// Below are global styles applied to the entire document
// These are just placeholder styles, can be customized as needed;
:root {
  --qgds-font-family: "Noto Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  --qgds-list-padding: 1.5rem; // Custom property for list padding, default to 1.5rem

  // Text decoration for links and interactive elements
  --text-decoration: underline;
  --text-decoration-hover: underline;
  --text-underline-offset: 0.3em;
  --text-decoration-thickness: 0.5px;
  --text-decoration-thickness-hover: 2px;

  // Borders
  --border-radius: 0.25rem;
  --border-width-wide: 3px;

  // Breakpoints
  --breakpoint-xs: $qgds-media-xs;
  --breakpoint-sm: $qgds-media-sm;
  --breakpoint-md: $qgds-media-md;
  --breakpoint-lg: $qgds-media-lg;
  --breakpoint-xl: $qgds-media-xl;

  // Line height utility
  --line-height-default: 1.5;
  --line-height-heading: 1.25;
  --line-height-nospace: 1;
}

html {
  font-family: var(--qgds-font-family);
  box-sizing: border-box;
  line-height: var(--line-height-default);
  font-size: 1rem;
}

body {
  margin: 0;
  color: var(--qgds-color-text-default);
}
