@use "sass:map";
@use "sass:meta";
@use "../qgds-tokens/" as *;
@use "../icons/icons.list" as icons;
@use "../tools/functions" as f;
@use "../../styles/qgds-tokens/qgds-breakpoint" as bp;

// Below are global styles applied to the entire document
// These are just placeholder styles, can be customized as needed;
:root {
  --qgds-font-family: "Noto Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  --qgds-list-padding: 1.5rem; // Custom property for list padding, default to 1.5rem

  // Text decoration for links and interactive elements
  --qgds-link-decoration: underline;
  --qgds-link-decoration-hover: underline;
  --qgds-link-underline-offset: 30%; // Percentage rather than em value will cascade and always be relative to current font size.
  --qgds-link-decoration-thickness: 0.5px;
  --qgds-link-decoration-thickness-hover: 2px;

  // Breakpoints
  --qgds-breakpoint-xs: #{$breakpoint-xs};
  --qgds-breakpoint-sm: #{$breakpoint-sm};
  --qgds-breakpoint-md: #{$breakpoint-md};
  --qgds-breakpoint-lg: #{$breakpoint-lg};
  --qgds-breakpoint-xl: #{$breakpoint-xl};
  --qgds-breakpoint-xxl: #{$breakpoint-xxl};

  // Line heights
  --qgds-line-height-default: 1.45;
  --qgds-line-height-heading: 1.25;
  --qgds-line-height-none: 1;

  // grid related
  --qgds-grid-gutter: 1rem;
  --qgds-grid-padding: 1rem;

  @media (min-width: #{bp.$md}) {
    --qgds-grid-gutter: 1.5rem;
    --qgds-grid-padding: 2rem;
  }

  @media (min-width: #{bp.$lg}) {
    --qgds-grid-gutter: 2rem;
  }

  @each $name, $svg in icons.$icon-names {
    --qgds-icon-#{$name}: url("#{f.svg-encode($svg)}");
  }

  // global transition variables
  --qgds-transition-duration: 200ms;
  --qgds-transition-easing: ease-out;
  --qgds-transition-easing-inverse: ease-in;
}

// Global Styling for HTML elements - generic/global namespace primary for body content
html {
  font-size: 100%;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: var(--qgds-font-family);
  line-height: var(--qgds-line-height-default);
  color: var(--qgds-color-text-default);
  -webkit-font-smoothing: antialiased;
  text-underline-offset: var(--qgds-link-underline-offset, 30%);
}
