@use "../qgds-tokens/qgds-color-stub";
@use "../qgds-tokens/qgds-breakpoint";
@use "../tools/mixins" as m;
@use "sass:meta";

$qgds-palettes: default, soft, muted, bold, deep;

@mixin qgds-palette($palette) {
  @include meta.apply(meta.get-mixin("qgds-color-palette-#{$palette}", $module: "qgds-color-stub"));
}

// Default palette is applied to the root element
:where(.qgds),
[data-qgds-theme="light"] {
  @extend %qgds-color-palette-global;
  @extend %qgds-color-palette-default;
}

// Build palette utility classes for each palette
@each $palette in $qgds-palettes {
  .qgds-palette-#{$palette} {
    @include qgds-palette($palette);
  }
}

// Build responsive qgds-palette-<palette>:<breakpoint> classes will apply the palette at the specified breakpoint and above
// e.g. qgds-palette-soft:md will apply the soft palette at the medium breakpoint and above
@each $breakpoint, $value in meta.module-variables("qgds-breakpoint") {
  @include m.from($value) {
    @each $palette in $qgds-palettes {
      .qgds-palette-#{$palette}\:#{$breakpoint} {
        @include qgds-palette($palette);
      }
    }
  }
}

// Some baseline defaults for background and text colors. These are usually redefined within each component
[class*="qgds-palette-"] {
  background: var(--qgds-color-background);
  color: var(--qgds-color-text-default);
}
