/* reset-host.scss
==========================

These are additional resets applied to compoonents only, via :host selector

Box sizing reset 
Remove default margins and padding
Ensure components don't leak styles 
*/
:host {
  box-sizing: border-box;
  isolation: isolate;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

button {
  appearance: none;
  border: none;

  &:disabled {
    cursor: not-allowed;
  }
}
