/* reset-host.scss
==========================

These are additional resets applied to components only, via :host selector

Box sizing reset 
Remove default margins and padding
Ensure components don't leak styles 
*/

@use "../../styles/qgds-tokens/qgds-color-stub";

:host {
  box-sizing: border-box;
  isolation: isolate;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

:host([palette="default"]) {
  @extend %qgds-color-palette-default;
}

:host([palette="soft"]) {
  @extend %qgds-color-palette-soft;
}

:host([palette="muted"]) {
  @extend %qgds-color-palette-muted;
}

:host([palette="bold"]) {
  @extend %qgds-color-palette-bold;
}

:host([palette="deep"]) {
  @extend %qgds-color-palette-deep;
}

button {
  appearance: none;
  border: none;

  &:disabled {
    cursor: not-allowed;
  }
}
