/* 
Devnote: 
Type elements (H1, H2, P, LI etc.) are styled in the elements.scss file, not typography.scss. 
The typography file is for utility classes that can be applied to any element.
*/

@use "sass:map";
@use "../helpers/functions" as f;

$_sizes: (
  xs: 14px,
  sm: 16px,
  md: 20px,
  lg: 24px,
  xl: 32px,
  xxl: 40px,
  xxxl: 48px,
);

%_qgds-display {
  font-family: var(--qgds-font-family, "Noto Sans", "Helvetica Neue", helvetica, arial, sans-serif);
  font-weight: 600;
  line-height: f.snap-line-height(1.4);
  color: var(--qgds-color-text-heading);
}

@each $key, $value in $_sizes {
  .qgds-display-#{$key} {
    @extend %_qgds-display;

    font-size: f.remify($value);
  }
}

/* 
Headings map 
--qgds-heading-xs maps to md in font $_sizes array
*/

$_headings: (
  xs: "md",
  sm: "lg",
  md: "xl",
  lg: "xxl",
  xl: "xxxl",
);

%_qgds-heading {
  font-family: var(--qgds-font-family, "Noto Sans", "Helvetica Neue", helvetica, arial, sans-serif);
  font-weight: 600;
  line-height: f.snap-line-height(1.25);
  color: var(--qgds-color-text-heading);
}

@each $key, $size in $_headings {
  .qgds-heading-#{$key} {
    @extend %_qgds-heading;

    font-size: f.remify(map.get($_sizes, $size));
  }
}
